@model IEnumerable<Dominio.Entidades.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<div class="row">
    <div class="col-md-3">
        <h2>Todos Produtos</h2>
    </div>
    <div class="topo">
        <div class="col-md-7">
            <div class="col-xs-10">
                <input type="text" placeholder="Buscar" id="filtro_tabela" class="form-control"/>
            </div>
        </div>
        <div class="col-md-1">
            <a href="#" type="button" class="btn btn-primary btnNovoProduto">Novo Produto</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="topo">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody id="tabela_dados">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome </td>
                            <td>@item.Categoria.Nome</td>
                            <td>@item.Quantidade</td>
                            <td>R$: @item.Preco</td>
                            <td>@item.Codigo</td>
                            <td>
                                <a href="#" class="glyphicon glyphicon-pencil btnEditarProduto" data-value="@item.Id" title="Editar"></a>
                            </td>
                            <td>
                                <a href="#" class="glyphicon glyphicon-remove btnDeletarProduto" data-value="@item.Id" title="Excluir"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div id="conteudoModal"></div>
      </div>
    </div>
  </div>
</div>

@section scripts{
    <script type="text/javascript">
        // Modal Salvar Produto
        $(document).ready(function () {
            $(".btnNovoProduto").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Produto/Salvar/" + id,
                    function () {
                        $('#myModal').modal("show");
                    }
                );
            });
        });

        // Modal Editar Produto
        $(document).ready(function () {
            $(".btnEditarProduto").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Produto/Editar/" + id,
                    function () {
                        $('#myModal').modal("show");
                    }
                );
            });
        });
        
        // Modal Deletar Produto
        $(document).ready(function () {
            $(".btnDeletarProduto").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Produto/Deletar/" + id,
                    function () {
                        $('#myModal').modal("show");
                    }
                );
            });
        });

    </script>
}